src/assets/
public/
dist/
node_modules/
coverage/
.idea/
.vsid/
.angulardoc.json
CHANGELOG.md
.dockerignore
.editorconfig
.gitignore
.prettierignore
.stylelintignore
nginx.conf
src/favicon.ico
etc/
admin_version.txt
.gitlab-ci.yml
.eslintignore
